<p>
  <mat-toolbar class="navbar">
    <div>
      <span>RestMap</span>
      <!-- <img src="/assets/logo (2).jpg" /> -->
    </div>
    <a mat-button><span>Find a toilet</span></a>
    <a mat-button><span>Add a toilet</span></a>
    <span class="example-spacer"></span>
    <a mat-button><span>Feedback</span></a>
    <a mat-button><span>About</span></a>
    <a mat-button><span>Contact</span></a>
    <!-- <span class="example-spacer"></span> -->
    <!-- <button
      mat-icon-button
      class="example-icon favorite-icon"
      aria-label="Example icon-button with heart icon"
    >
      <mat-icon>favorite</mat-icon>
    </button>
    <button
      mat-icon-button
      class="example-icon"
      aria-label="Example icon-button with share icon"
    >
      <mat-icon>share</mat-icon>
    </button> -->
  </mat-toolbar>
</p>
