.search-container {
  position: absolute;
  z-index: 1;
  top: 120px;
  left: 40px;
}

.card-container {
  padding: 32px;
  border-radius: 35px;
}

.input-container {
  border: 1px black;
  border-radius: 40px;
}

.input-icon {
  vertical-align: -8px;
}
