<div class="search-container">
  <mat-card class="card-container">
    <h2>Search</h2>
    <div class="input-container">
      <!-- <mat-icon>search</mat-icon> -->

      <mat-form-field>
        <mat-icon class="input-icon" matPrefix>search</mat-icon>
        <input matInput type="search" placeholder="Search Location" />
        <mat-icon class="input-icon" matSuffix>close</mat-icon>
        <mat-icon class="input-icon" matSuffix>keyboard_voice</mat-icon>
      </mat-form-field>
    </div>
    <h2 style="text-align: center">OR</h2>
    <div>
      <mat-form-field appearance="outline">
        <mat-label>Select Range</mat-label>
        <mat-select>
          <mat-option value="1">In 500 meters</mat-option>
          <mat-option value="2">In 1 kilometer</mat-option>
          <mat-option value="3">In 1.5 kilometers</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </mat-card>
</div>
